body {
}

.list_li span a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 35px;
    font-weight: 600;
}

.text_footer {
    font-size: 14px;
    font-family: "Open Sans";
    padding: 10px 0px 0px !important;
    margin: 0px !important;
}

.social_list ul li {
    list-style: none;
    display: inline-block;
    font-family: "Open Sans";
}

    .social_list ul li a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-family: "Open Sans";
        line-height: 35px;
        font-weight: 600;
    }

.main_footer {
    background-color: #f4f5f7;
    padding: 50px 0px;
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.title {
    color: #B51A1A;
    margin: 5px 0px;
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.list_ul {
    display: block;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.list_li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #8e8e8e;
    align-items: baseline;
    align-content: center;
}

.co_footer_2 {
    display: flex;
    border-top: 4px solid #efa920;
    border-bottom: 1px solid wheat;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    padding: 5px;
    margin: 0px 15px 0px;
}

.co_footer_1 {
    padding: 5px;
}

.co_2 {
    padding: 3px;
}

.icon {
    color: rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 0px 10px;
    align-items: center;
    transition: 0.5s color;
}

    .icon:hover {
        color: #b51a1a;
    }

.icon_not_hover {
    color: #b51a1a;
    display: flex;
    align-items: center;
}
.icon_not_hover i{
    padding: 0 10px;
}
